$slateBlue: #303d4d;
$white: #ffffff;
$lavenderGray: #a2a5b9;
$deepSkyBlue: #0096b2;
$paleBlue: #d6e9ef;
$steelGray: #7a889b;
$lightGray: #dfe2e9;
$lightestGray: #fafbfc;
$dimGray: #48545d;
$darkCharcoal: #21292f;
$paleSilver: #f4f5f8;
$primaryBlue: #1B60E1;
$black: #000;
