//$slateBlue: #303d4d;
//$white: #ffffff;
//$lavenderGray: #a2a5b9;
//$deepSkyBlue: #0096b2;
//$paleBlue: #d6e9ef;
//$steelGray: #7a889b;
//$lightGray: #dfe2e9;
//$lightestGray: #fafbfc;
//$dimGray: #48545d;
//$darkCharcoal: #21292f;
//$paleSilver: #f4f5f8;
//$primaryBlue: #1b60e1;
//$black: #000;

$slateBlue: #303d4d;
$white: #ffffff;
$lavenderGray: #a2a5b9;
$deepSkyBlue: #0096b2;
$paleBlue: #d6e9ef;
$steelGray: #7a889b;
$lightGray: #dfe2e9;
$lightestGray: #fafbfc;
$dimGray: #48545d;
$darkCharcoal: #21292f;
$paleSilver: #f4f5f8;
$primaryBlue: #1b60e1;
$black: #000;

$lightBlueGray: #f0f4f9;
$mediumDarkBlue: #989dba;
$darkGray: #4e5053;
$veryLightBlueGray: #f5f6fa;
